page-start {
    .logoPatita {
        //margin-bottom: 10%;
        //margin-top: -13%;
        margin-left: -5%;
        height: 50%;
        width: 50%;
    }
    .tabs {
        //margin-top: 12%
    }
}
