<ion-header>

    <ion-navbar color="nav" hideBackButton="true">
      <button ion-button icon-only menuToggle>
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </button>
  
      <ion-title text-center>
        <img src="../../assets/imgs/logohue.png" class="logoPatita">
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
</ion-header>
<ion-tabs selectedIndex="0" tabsHighlight="true" tabsPlacement="asd" color="nav" class="tabs">
    <ion-tab [root]="adopcionesRoot" tabTitle="EXTRAVIOS" ></ion-tab>
    <ion-tab [root]="extravioRoot" tabTitle="ADOPCIONES" ></ion-tab>
    <ion-tab [root]="denunciasRoot" tabTitle="DENUNCIAS" ></ion-tab>
</ion-tabs>
