page-login {
    .imgbg {
        font-family: 'Montserrat', sans-serif;
        background-image: url('../../assets/imgs/fondo.png');
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        // opacity: 0.6;
    }
    .logoLogin {
        margin-bottom: 15%;
        height: 60%;
        width: 60%;
    }
    .logoPatita {
        margin-bottom: 0%;
        //margin-top: -10%;
        height: 90%;
        width: 90%;
    }

    .term {
        margin-top: 5%;
        padding: 5%;
        max-width: 100%;
        //margin: 5vh auto;
        text-align: center;
        letter-spacing: 1px;
        position: relative;
    }

    .login-box {
        margin-top: 15%;
    //background: #fff;
        //margin-top: 8%;
        // padding: 5%;
        // max-width: 99%;
        //margin: 5vh auto;
        text-align: center;
        // letter-spacing: 1px;
        // position: relative;
    } 
    
    .login-term {
        margin-top: -5%;
        padding: 5%;
        font-size: 1.2rem
    }

    .login-term {
    //background: #fff;
        //margin-top: -10%;
        //margin-bottom: 10%; 
        padding: 5%;
        // max-width: 100%;
        //margin: 5vh auto;
        text-align: center;
        letter-spacing: 1px;
        position: relative;
    }
    // .login-box {
    // 	  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    // }

    .buton-log {
        color: rgb(248, 248, 248);
        font-size: 1.7rem;
        background-color: rgb(92, 92, 92)
        
    }

    
}
