
<ion-content padding class="imgbg">
  <!-- <div id="logo"></div> -->
    <div class="login-box">
      <ion-grid>
        <ion-row align-items-start> 
          <ion-col>
            <img src="../../assets/imgs/logonuevo.png" class="logoPatita">
          </ion-col>
        </ion-row>
        <ion-row align-items-start>
          <ion-col>
            <img src="../../assets/imgs/loginlogo.png" class="logoLogin">
          </ion-col>
        </ion-row>
      </ion-grid>
      <button ion-button color="light" round (click)="irHome()" class="buton-log">Ingresa a Huellitas</button>
      <!-- <button (click)="irHome()"
              class="social-button-google " 
              id="google-connect"> 
        <span>Conectar con Google</span>
      </button>        -->
    </div>
    <div class="login-term">
      <p class="term">Al registrarse acepta los <strong>Términos del Servicio</strong> y la <strong>Política de Privacidad</strong></p>
    </div>
</ion-content>
