<ion-header>

  <ion-navbar>
    <ion-title>denuncias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="imgbg">
  <div class="blog-card" *ngFor="let dato of datos" (click)="presentModal( dato )">
    <div class="meta">
      <img src="{{ dato.img }}"alt="">
    </div>
    <div class="description">
      <h1 class="title">{{ dato.titulo }}</h1>
      <h2 class="autor">Autor MN Ariel</h2>
      <p class="read-more">
        <a href="#">Leer mas</a>
      </p>
    </div>
  </div>
</ion-content> 
