<ion-header>

  <ion-navbar  color="nav">
    <ion-buttons (click)="back()">
      <button ion-button icon-only (click)="back()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end >

        <button ion-button color="#fff" class="text-publication" icon-only
                [disabled]=" descripcion.length < 2 || titulo.length < 2 "
                (click)="crear_publicacion()">
          <p class="text-publication">Crear publicacion</p>
        </button>
    
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="imgbg">
  <!-- <form [formGroup]="myForm" (ngSubmit)="saveData()"> -->
    <ion-list>
      <ion-item>
        <ion-title class="title">
          Datos de la Mascota Extraviada
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-label stacked>Nombre de la Publicacion</ion-label>
        <ion-input type="text" [(ngModel)]="titulo" placeholder="ingrese titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descripcion</ion-label>
        <ion-textarea type="text" [(ngModel)]="descripcion" placeholder="ingrese descripcion"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label stacked>Nombre del Dueño de la mascota</ion-label>
        <ion-input type="text" [(ngModel)]="name" placeholder="ingrese su nonbre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Numeros de referencia</ion-label>
        <ion-input type="text" [(ngModel)]="phone" placeholder="ingrese nro referencia"></ion-input>
      </ion-item>
      <ion-item *ngIf="imgPreview">
        <img [src]="imgPreview">
      </ion-item>
      <ion-item>
        <p stacked>Cargar imagen</p>
        <ion-grid>

          <ion-row>
      
            <ion-col>
      
              <button ion-button color="nav"
                      block
                      icon-left
                      (click)="seleccionar_fotos()">
                  <ion-icon name="photos"></ion-icon>
                  Seleccionar
              </button>
      
            </ion-col>
      
            <ion-col>
      
              <button ion-button color="nav"
                      block
                      icon-left
                      (click)="mostrar_camara()">
                  <ion-icon name="camera"></ion-icon>
                  Camara
              </button>
      
            </ion-col>
      
          </ion-row>
      
        </ion-grid>
      </ion-item>
    </ion-list>
    <!-- <button ion-button block color="nav" [disabled]=" descripcion.length < 2 || titulo.length < 2 ">gg</button> -->
  <!-- </form> -->
</ion-content>
