page-create-publication {
    .imgbg {
        font-family: 'Montserrat', sans-serif;
        background-image: url('../../assets/imgs/hueso3.png');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        // opacity: 0.6;
    }
.title {
    text-align: center;
}
}
