<ion-header>

  <ion-navbar>
    <ion-title>extravio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="imgbg">

  <ion-list no-lines class="">

    <ion-card *ngFor="let dato of datos"
              (click)="presentModal( dato )"
              class="card-background-page">
      <ion-item class="card-header colorList">
        <ion-avatar item-start class="item-avatar ">
            <img src="../../assets/imgs/user.png">
        </ion-avatar>
        <h2 class="title titleh1">{{ dato.name }}</h2>
        <p class="date titlep">{{ dato.mascota_name }}</p>
      </ion-item>
      <img src="{{ dato.img }}"
           class="imgCard">

      <ion-item class="card-content">
        <!-- <ion-icon name="football" item-start large></ion-icon> -->
        <h2 text-center text-uppercase 
            class="title-publication publication">{{ dato.titulo }}</h2>
        <p class="text-publication">{{ dato.descripcion }}</p>
      </ion-item>
    </ion-card>
    
  </ion-list>

</ion-content> 
