<ion-header>

    <ion-navbar color="nav" hideBackButton="false">
      <button ion-button icon-only menuToggle>
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </button>
  
      <ion-title text-center>
        <div class="navlogo" text-center></div>
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>

<ion-content padding class="imgbg">

  <ion-list no-lines class="">

    <ion-card *ngFor="let publacion of publaciones"
              (click)="presentModal( publacion )"
              class="card-background-page">
      <ion-item class="card-header colorList">
        <ion-avatar item-start class="item-avatar ">
            <img src="https://vignette.wikia.nocookie.net/tumblr-survivor-athena/images/7/7a/Blank_Avatar.png/revision/latest?cb=20161204161729">
        </ion-avatar>
        <h2 class="title titleh1">{{ publacion.name }}</h2>
        <!-- <p class="date titlep">{{ publacion.date }}</p> -->
      </ion-item>
      <img src="{{ publacion.img }}"
           class="imgCard">

      <ion-item class="card-content">
        <!-- <ion-icon name="football" item-start large></ion-icon> -->
        <h2 text-center text-uppercase 
            class="title-publication publication">{{ publacion.titulo }}</h2>
        <p class="text-publication">{{ publacion.descripcion }}</p>
      </ion-item>
    </ion-card>
    
  </ion-list>

</ion-content>
