<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nav" >
    <ion-title text-center>AYUDA</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header>
        PATITAS
        </ion-card-header>
        <ion-card-content>
        PATITAS es una aplicación de software móvil descentralizada desarrollada en
         la Sociedad Científica de Sistemas e Informática (SCESI), 
         el objetivo de dicha aplicación es ayudar en la búsqueda de animales
          desaparecidos y fomentar la adopción de mascotas.
        </ion-card-content>
       </ion-card>

    <ion-card>
        <ion-card-header >
          AYUDA
        </ion-card-header>
      
        <ion-list>
          <button ion-item *ngFor="let item of listaAyuda" (click)="openNavDetailsPage(item)" icon- start>
            <ion-icon [name]=item.icono item-start></ion-icon>
           {{item.titulo}}
          </button>

          <!--<ion-list>
    <button ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)" icon-start>
      <ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>
      {{ item.title }}
    </button>
  </ion-list> -->
      
          
        </ion-list>
      </ion-card>     

</ion-content>
<ion-footer text-center>
    <ion-toolbar>
      <ion-title >PATITAS</ion-title>

      2018 &copy;  SCESI
    </ion-toolbar>
       
    
   
  </ion-footer>