// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  nav:        #858586,
  alert:      rgb(231, 183, 138),
  face:       rgb(59, 89, 152),
  what:       rgb(37, 211, 102),
  fab:        #a8a6a6
);
$alert-md-button-background-color:rgba(223, 166, 91, 0.438);
$alert-md-button-text-color:#f1f1f1;
$alert-md-background-color: rgb(231, 165, 103);
$alert-md-message-text-color:#f1f1f1;
$alert-md-title-font-size:	2rem;
$alert-md-button-font-weight:	1rem;
$alert-md-button-background-color-activated:#f1f1f1;
$alert-md-radio-label-text-color-checked:rgb(0, 0, 0);
$alert-md-checkbox-border-style: solid;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

@font-face {
  font-family: "quick-bold";
  src: url('../assets/fonts/Quicksand-Bold.ttf')
}

@font-face {
  font-family: "spongeboy-me-bob";
  src: url('../assets/fonts/Spongeboy-Me-Bob.ttf')
}

@font-face {
  font-family: "quick-bold-Light";
  src: url('../assets/fonts/Quicksand-Light.ttf')
}

@font-face {
  font-family: "quick-bold-Regular";
  src: url('../assets/fonts/Quicksand-Regular.ttf')
}

@font-face {
  font-family: "quick-bold-Medium";
  src: url('../assets/fonts/Quicksand-Medium.ttf')
}

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$card-ios-background-color: slategray;
$card-md-background-color: slategray;
$card-wp-background-color: slategray;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
