<!--
  Generated template for the InfoAyudaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ item.titulo }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 {{item.descripcion}}

</ion-content>
