page-publication {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .logoPatita {
        //margin-bottom: 10%;
        //margin-top: -13%;
        margin-left: -5%;
        height: 70%;
        width: 70%;
    }
    .img-p {
        border-radius: 20px;
    }
    .imgbg {
        font-family: 'Montserrat', sans-serif;
        background-image: url('../../assets/imgs/hueso4.png');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        // opacity: 0.6;
    }
    .title {
        margin-top: 0%;
        font-size: 2rem;
        color: rgba(77, 38, 2, 0.836);
    }
    .textp {
        margin-top: -5%;
        font-size: 1.3rem;
        //margin-top: -3%;
    }
    .icon {
        color: rgb(22, 21, 21);
    }
    .shareicon {
        left: 0%;
        top: 20%;
        font-size: 250%;
    }
    .textcol {
        font-weight: 450;
        font-size: 1.6rem;
        margin-left: 30px;
        margin-top: 20px;
    }
    .list-ref {
        margin-top: 0%
    }
    .iconrs {
        color: rgb(255, 255, 255);
    }
}
