<ion-menu [content]="content">
    <ion-header >
      <ion-navbar class="navbar-menu"  color="nav">
          <img src="https://lh3.googleusercontent.com/TSLK1Zby9WDLb0BVtVBby_ACNsRV8vTGFTvAhby7nsvab5fQTNJ9TrYIdpxu03xLexT1K5qVDzb2qg=w419-h420-rw-no" alt="Avatar" class="avatar">
      </ion-navbar>
      
      <ion-toolbar  color="nav">
        <h6 class="tx texth6">Ariel Mamani Nina</h6>
        <p class="textmail titleh1">arigato20amn@gmail.com</p>
      </ion-toolbar>
    </ion-header>
      <ion-content class="titleh1">
        <ion-list >
          <ion-item *ngFor="let page of pages" 
                    (click)="openPage( page )"
                    menuClose >
            <ion-icon [name]="page.icon" item-start></ion-icon>
              {{ page.title }}
          </ion-item>
        </ion-list>
      </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
