.tx {
        font-family: "quick-bold";
    }
.smb {
        font-family: "spongeboy-me-bob";
    }
.titleh1 {
        font-family: "quick-bold-Medium";
    }
.titlep {
        font-family: "quick-bold-Regular";
    }
.publication {
        font-family: "quick-bold";
    }
.text-publication {
    font-family: "quick-bold-Medium";
}
    ion-header {
        box-shadow: none;
        .navbar-menu {
            min-height: 50px;
            width: 100%;
            overflow: visible;
            position: relative;
            height: 70%;
            box-shadow: none;
        }
        .avatar {
            vertical-align: middle;
            width: 20%;
            height: 20%;
            border-radius: 50%;
            margin-left: 5%;
            margin-top: 8%;
        }
        .textmail {
            font-size: 1.3rem;
            margin-left: 5%;
            margin-top: -4%;
        }
        .texth6 {
            margin-left: 5%;
        }
        
    }