page-read-publication {
    .card-jbo{
        border-radius: 10px;
        width: 100% - 5%;
        height: 80%;
        background: #ccc2f5;
        padding: 0%;
    }
    .title-card{
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
    }
    .img{
        border-radius: 10px;
    }
}
