<!--
  Generated template for the ReadPublicationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nav" hideBackButton="false">
    <ion-title text-center>Mis Publicaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-card *ngFor="let dato of datos"  class="card-jbo">
      
      <ion-grid fixed>
        <ion-row>
        <ion-col col-6>
          <img src="{{dato.img}}" class="img">
        </ion-col>

        <ion-col col-6>
          <ion-row>
            <ion-card-title class="title-card">
              {{dato.title}}
            </ion-card-title>
          </ion-row>
          <ion-row >
            <p>{{dato.date}}</p>
          </ion-row>

          <ion-row>
            <ion-col>
              <button ion-button  small>               
                <p><ion-icon name="create"></ion-icon> Edit </p>
              </button>
            </ion-col>
              
            <ion-col>
              <button ion-button small>
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-col>
          </ion-row>
          
        </ion-col>
      </ion-row>
      </ion-grid>

    </ion-card>
  </ion-list>
 

</ion-content>
