<ion-header>

  <ion-navbar color="nav" (click)="back()">

    <!-- <ion-buttons end (click)="back()">
      <button ion-button icon-only (click)="back()">
        <ion-icon name="ios-arrow-back-outline" (click)="back()"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons (click)="back()">
      <button ion-button icon-only (click)="back()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <img src="../../assets/imgs/logohue.png" class="logoPatita">
    </ion-title>

  </ion-navbar>

</ion-header>
<ion-content padding class="imgbg">
<div>
  <img [src]="dato.img" class="img-p">
</div>
  <h4 text-uppercase text-center class="title tx">{{ dato.titulo }}</h4>
  <div padding>
    <p text-justify  class="textp">
      {{ dato.descripcion }}
    </p>
    <ion-fab medium right edge class="color">
      <button ion-fab color="fab" (click)="compartir( dato )"><ion-icon class="shareicon" name="md-share"></ion-icon></button>
      <!-- <ion-fab-list side="top">
        <button (click)="compartir( dato )" ion-fab color="face"><ion-icon class="iconrs" name="logo-facebook"></ion-icon></button>
        <button (click)="compartir( dato )" ion-fab color="what"><ion-icon class="iconrs" name="logo-whatsapp"></ion-icon></button>
      </ion-fab-list> -->
    </ion-fab>
    
    <ion-list class="list-ref">
      <h5>Referencias</h5>
      <ion-item>
        <ion-avatar item-start>
          <img src="https://vignette.wikia.nocookie.net/tumblr-survivor-athena/images/7/7a/Blank_Avatar.png/revision/latest?cb=20161204161729">
        </ion-avatar>
        <h2>Ubicacion : {{ dato.ubicacion }}</h2>
        <p>Fecha : {{ dato.date }}</p>
        <!-- <p>{{ dato.mail }}</p> -->
      </ion-item>
    </ion-list> 
  </div>
</ion-content>
