<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list inset>
        <form action="">
          <ion-list>
            <ion-item>
              <ion-label stacked>Nombre Completo</ion-label>
              <ion-input type="text" placeholder="ingrese nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Correo Electronico</ion-label>
              <ion-input type="text" placeholder="ingrese correo electronico"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Contrasenia</ion-label>
              <ion-input type="password" placeholder="ingrese contrasenia nueva"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Fecha de nacimiento(DD/MM/AA)</ion-label>
              <ion-input type="password" placeholder="ingrese fecha"></ion-input>
            </ion-item>
            <ion-item>
              <button ion-button full>Registrarse</button>
            </ion-item> 
          </ion-list>
        </form>

    </ion-list>

</ion-content>




