page-adopciones {
    .colorList {
        background-color: rgb(216, 216, 216);
    }
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    .imgbg {
        font-family: 'Montserrat', sans-serif;
        background-image: url('../../assets/imgs/hueso2.png');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        // opacity: 0.6;
    }
    .title {
        font-size: 1.5rem;
        color: #2a2a2a
    }
    .date {
        font-size: 1.2rem;
        color: #2a2a2a
    }
    .title-publication {
        color: rgb(0, 0, 0);
        font-size: 1.6rem;
    }
    .card-background-page {
        border-radius: 20px;
        width: 100% - 5%;
        height: 80%;
        background: none;
        background-color: rgb(187, 132, 132);
        //margin-bottom: 12%;
        ion-card {
            position: relative;
            text-align: center;
            
        }
        // .card-header {
        //     background-image: url('../../assets/imgs/hueso.png');
        // }
        // .card-content {
        //     background-image: url('../../assets/imgs/hueso.png');
        // }
        .imgCard {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 5px;
            // left: 10%;
        }
      
      }
      .navlogo{
        height: 30%;
        margin-left: 10px;
        margin-top: 5px;
        background-size: 35%;
        background-image: url(../assets/imgs/zzz.png);
        background-repeat: no-repeat;
    }
}
